<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="space48-auto-value">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
